@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Staatliches&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: auto;
  
}
.text-normal{
  color: #161616;
  text-decoration: none;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.font-roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.font-staatliches {
  font-family: 'Staatliches', sans-serif;
}
.container-mob{
  padding-left: 18px;
  padding-right: 16px;
}
@layer utilities {
  .bg-external {
    background-image: url('/public/back.png');
    background-size: cover;
    background-position: center;
  }
  .text-first{
    color: #161616;
  }
  .text-second{
    color: #474747;
  }

}
 